
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>従業員一覧</title>
</head>
<body>
    <h1>従業員一覧</h1>
    <table>
        <tr>
            <th>社員番号</th>
            <th>氏名</th>
            <th>操作</th>
        </tr>
        <tr th:each="data : ${employeelist}">
            <!-- th:eachとして使用されている場合はdataを利用して情報を表示-->
            <span th:text="${data.authentication.employee_id}"></span>
            <span th:text="${data.employee.name}"></span>
            <span th:text="${data.authentication.role}"></span>
            <td>
                <a th:href="@{/country/detail/{code}/(code=${data.code})}">詳細を見る</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/country/register/{code}/(code=${data.code})}">新規従業員の登録</a>
</body>
</html>